general:
  clientUrl: http://localhost:3001
  secret:

database:
  connectionString: postgresql://postgres:postgres@postgres:5432/wizard-server

registry:
  token:

feedback:
  token:
  owner:
  repo:
