general:
  clientUrl: http://localhost:3001/wizard
  secret:

database:
  connectionString: postgresql://postgres:postgres@postgres:5432/wizard

registry:
  token:

feedback:
  token:
  owner:
  repo:
