ontologyPortal:
  baseurl: https://mockserver.ds-wizard.org
  apiKey: '123456'

bioPortal:
  baseurl: https://mockserver.ds-wizard.org
  apiKey: '123456'

secrets:
  repositoryApiUrl: https://mockserver.ds-wizard.org
  repositoryApiKey: '123456'
  repositoryPath: repository-api.json
