{% extends '../_common/layout.html.j2' %}
{% block body %}
Dear {{ organization.name }},
<br>
You can set up a new token for your account <a href="{{ resetLink }}" target="_blank">here</a>.
<br><br>
Best regards,<br>
{{ mailName }} Team
{% endblock %}
