sudo: false

env:
  - IMAGE_TAG="$DOCKER_REGISTRY/elixir/dsw-server:latest"

before_script:
  - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD" $DOCKER_REGISTRY

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

before_install:
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  # Configure stack to use the system GHC installation
  - stack config set system-ghc --global true
  - export PATH=/opt/ghc/ghc-8.2.2/bin:$PATH

addons:
  apt:
    sources:
    - hvr-ghc
    packages:
    - ghc-8.2.2



script:
  - stack --no-terminal --skip-ghc-check test
  - docker pull $IMAGE_TAG
  - docker build --pull --cache-from $IMAGE_TAG -t $IMAGE_TAG .
  - docker push $IMAGE_TAG
