general:
  environment: Production
  serverPort: 3000
  clientUrl: http://localhost:3001

database:
  connectionString: postgresql://postgres:postgres@postgres:5432/registry-server

s3:
  bucket: registry-server

analyticalMails:
  enabled: false
  email:
