{% extends '../_common/layout.html.j2' %}
{% block body %}
Dear {{ user.firstName }},
<br>
For the activation of your account, please proceed <a href="{{ activationLink }}" target="_blank">here</a>.
<br><br>
Best regards,<br>
{{ mailName }} Team
{% endblock %}
