Hi {{ user.firstName }},

Welcome aboard! Well you’re almost set.
Just one more step and you can start using the DSW.

To activate your account, please proceed here: {{ activationLink }}

{% include '../_common/footer.txt.j2' %}
