[Environment]
# Production / Staging / Development / Test
env = Production

[Client]
address = http://localhost:3001

[Web]
port = 3000

[Database]
host = mongo
dbname = dsw-server
port = 27017
authenabled = false
username =
password =

[JWT]
secret =
version = 1
expiration = 14

[Role]
defaultrole = DATASTEWARD
admin = UM_PERM, ORG_PERM, KM_PERM, KM_UPGRADE_PERM, KM_PUBLISH_PERM, PM_PERM, QTN_PERM, DMP_PERM
datasteward = KM_PERM, KM_UPGRADE_PERM, KM_PUBLISH_PERM, QTN_PERM, DMP_PERM
researcher = QTN_PERM, DMP_PERM

[Mail]
enabled = false
name =
email =
host =
username =
password =

[Analytics]
enabled = false
email =
