[Environment]
# Production / Staging / Development / Test
env = Test

[Client]
address =

[Web]
port = 3000
servicetoken = my-token

[Database]
host = localhost
dbname = dsw-server-test
port = 27017
authenabled = false
username =
password =

[Messaging]
enabled = true
host = localhost
port = 5672
username = guest
password = guest

[JWT]
secret = secret-key
version = 1
expiration = 99999

[Role]
defaultrole = DATASTEWARD
admin = UM_PERM, ORG_PERM, KM_PERM, KM_UPGRADE_PERM, KM_PUBLISH_PERM, PM_READ_PERM, PM_WRITE_PERM, QTN_PERM, DMP_PERM
datasteward = KM_PERM, KM_UPGRADE_PERM, KM_PUBLISH_PERM, PM_READ_PERM, PM_WRITE_PERM, QTN_PERM, DMP_PERM
researcher = PM_READ_PERM, QTN_PERM, DMP_PERM

[Mail]
enabled = false
name =
email =
host =
username =
password =

[Analytics]
enabled = false
email =

[Feedback]
token =
owner = DSWGlobal
repo = dsw-test
issueurl = https://github.com/:owner/:dsw-staging/issues/:issueId
