general:
  environment: Test
  serverPort: 3000
  clientUrl: http://localhost:3001
  serviceToken: my-service-token
  secret: "01234567890123456789012345678901"
  integrationConfig: config/integration-test.yml
  templateFolder: ""

database:
  connectionString: postgresql://postgres:postgres@localhost:5432/postgres

s3:
  url: http://localhost:9000

jwt:
  expiration: 9999

mail:
  enabled: false
  name:
  email:
  host:
  username:
  password:

registry:
  url: https://api.registry-test.ds-wizard.org
  clientUrl: https://registry-test.ds-wizard.org

analytics:
  enabled: false
  email:

logging:
  level: ERROR
  httpClientDebug: false
