general:
  environment: Test
  serverPort: 3000
  clientUrl: http://localhost:3001
  serviceToken: my-service-token
  secret: "01234567890123456789012345678901"
  integrationConfig: config/integration-test.yml
  templateFolder: templates

database:
  host: localhost
  databaseName: engine-wizard-test
  port: 27017
  authEnabled: false
  username:
  password:

messaging:
  enabled: false
  host:
  port:
  username:
  password:
  vhost:

jwt:
  version: 1
  expiration: 9999

mail:
  enabled: false
  name:
  email:
  host:
  username:
  password:

registry:
  url: https://api.registry-test.ds-wizard.org
  clientUrl: https://registry-test.ds-wizard.org

analytics:
  enabled: false
  email:
