general:
  clientUrl: http://localhost:3001
  serviceToken:
  secret:

database:
  host: mongo
  databaseName: engine-wizard
  port: 27017
  authEnabled: false
  username:
  password:

messaging:
  host: localhost
  port: 5672
  username: guest
  password: guest
  vhost: /

mail:
  enabled: false
  name:
  email:
  host:
  port:
  ssl:
  authEnabled:
  username:
  password:

registry:
  token:

feedback:
  token:
  owner:
  repo:
