general:
  environment: Test
  serverPort: 3000
  clientUrl: http://localhost:3001

database:
  connectionString: postgresql://postgres:postgres@localhost:5432/postgres

s3:
  url: http://localhost:9000
  bucket: engine-registry

analytics:
  enabled: false
  email:
