general:
  environment: Production
  serverPort: 3000
  clientUrl: http://localhost:3001

client:
  appTitle:
  appTitleShort:
  welcomeWarning:
  welcomeInfo:
  dashboard:
    admin: [Welcome]
    dataSteward: [Welcome]
    researcher: [Welcome]

database:
  host: mongo
  databaseName: engine-registry
  port: 27017
  authEnabled: false
  username:
  password:

mail:
  enabled: false
  name:
  email:
  host:
  port:
  ssl:
  authEnabled:
  username:
  password:

analytics:
  enabled: false
  email:
