general:
  environment: Test
  serverPort: 3000
  clientUrl: http://localhost:3001
  templateFolder: templates

database:
  host: localhost
  databaseName: engine-registry-test
  port: 27017
  authEnabled: false
  username:
  password:
  connectionString: postgresql://postgres:postgres@localhost:5432/postgres

s3:
  url: http://localhost:9000

mail:
  enabled: false
  name:
  email:
  host:
  username:
  password:

analytics:
  enabled: false
  email:
